@import "_config.scss";
@import "_mixins.scss";

.header{
  width: 100%;
  padding: $spacer 0;
  align-self: baseline;
  background-color: #fff;
  border-bottom: 1px solid #dae0e4;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);

  @include from-medium {
    padding: $spacer 0;
  }
}

.header-wrapper {
  @include wrapper;
  display: flex;
  align-items: center;
}

.header-logoLink {
  margin-right: $spacer-sm;
}

.header-logo {
  display: inline-block;
  max-width: unset;
  height: 52px;
  width: auto;
  vertical-align: middle;

  @include from-medium() {
    height: 64px;
  }
}

.header-content {
  width: 100%;
}
