@import "_config.scss";
@import "_mixins.scss";

.search-box {
  position: relative;
}
.search {
  margin-top: 50px;
  .navbar{
    .container-fluid{
      padding-left: 0;
    }
  }
  .navbar-header{
    a{
      font-size: 26px;
      margin-top: 12px;
      color: #784cc0;
      background-color: transparent;
      border-color: transparent;
      .back{
        line-height: 1;
        padding: 0;
        .glyphicon{
          font-size: 26px;
        }
        span{
          display: inline-block;
          line-height: 1;
          +span{
            position: relative;
            bottom: 5px;
            font-size: 20px;
          }
        }
      }
    }
  }
  .page-header{
    border: 0;
    h1{
      font-size: 50px;
      font-weight: 400;
      color: #636363;
    }
  }
}

.search-box-input {
  display: block;
  width: 100%;
  padding: $spacer-sm;
  padding-right: 4rem;
  font-family: $font-family;
  color: #000;
  background-color: #fdfdfd;
  border: 0;
  border-radius: 3px;
  outline: 0;
  appearance: none;
  line-height: normal;
  font-size: rem(16px);
  border: 1px solid #ceced2;

  transition: 200ms border, background, box-shadow, color ease-in-out;
  will-change: border, background, box-shadow, color;

  &::placeholder {
    color: $color-gray-lighter;
  }

  &:focus,
  &:hover {
    background-color: #fff;
    border-color: $color-primary;
  }

  @include from-medium {
    padding: 2rem;
    padding-right: 4rem;
    font-size: rem(30px);
  }
}
