.pupple{
    color: #fff;
    background-color: #784cc0;
    border-color: #784cc0;
    padding: 10px 20px;
    font-size: 26px;
    margin-top: 12px;
    &:hover{
        background-color: #562a9e;
        color: #fff;
    }
    &.small{
        font-size: 20px;
    }
}
.btn-primary{
    background-color: transparent;
    color: #ccc;
    border: 1px solid #ccc;
    &:hover{
        background-color: #562a9e;
        border-color: #562a9e;
    }
}